* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;

}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 200px;
}

.nav-taitle {
    font-weight: 800;
    font-size: 45px;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 200px;
}

.bannder-taitle {
    font-weight: 600;
    font-size: 45px;
}

.ban-titi {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.pra-dicricpiton {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
}

.section-tailte {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-taitle {
    font-size: 20px;
    color: #757575;
}

.about .info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do style */
.what-i-do {
    margin: 130px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-taitle {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-discription {
    color: #757575;
}
/* rusume-style */
.Bio{
    margin: 130px;
    text-align: center;
}